<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.itlearn.utility.ExtentListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<!--<class name="com.itlearn.testcases.LoginTest" /> -->
			 <!--<class name="com.itlearn.testcases.LoginTestDataDrivenTesting" />--> 
			 <class name="com.itlearn.testcases.SearchTest" />   
			 <!--<class name="com.itlearn.testcases.DashBoardTest" /> 
			 <class name="com.itlearn.testcases.PaymentTest" />-->  
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
